.cent_search {
  padding: 20px;
}

.inline_btn {
  margin-left: 1%;
}

.divider_panel {
  border-bottom-color: aliceblue;
  border-bottom-width: 0.8px;
  border-bottom: solid;
  width: 90vw;
  margin-left: 5vw;
}

.divider_info {
  margin-left: 5%;
  font-size: 18px;
  color: floralwhite;
}
